<html 	
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:core="http://java.sun.com/jsp/jstl/core">
<head><link rel="stylesheet" href="style.css" /></head>
<h:body rendered="#{not eventList.errorResponse}">
	<header>
		<div><h1>Event Planner</h1></div>
		<form><input name="q" placeholder="Filtern" value="#{eventList.searchWord}" /><button>Alle Veranstaltungen</button><button name="own">Meine Veranstaltungen</button></form>
		<h:panelGroup rendered="#{not sessionBean.loggedIn}"><a href="#login">Login</a></h:panelGroup>
		<h:form rendered="#{sessionBean.loggedIn}" id="logout">#{sessionBean.currentUser.name}<h:commandButton action="#{logout.logout}" value="Logout" /></h:form>
	</header>
	<h:panelGroup rendered="#{eventList.ownEvents}"><h1>Meine Veranstaltungen</h1></h:panelGroup>
	<h:panelGroup rendered="#{not eventList.ownEvents}"><h1>Alle Veranstaltungen</h1></h:panelGroup>
	<ul class="event-list">
		<core:if test="#{sessionBean.loggedIn and sessionBean.currentUser.manager}"><li>
			<h2>Neue Veranstaltung</h2>
			<h:form p:id="save-form">
				<h:inputHidden value="#{saveEvent.id}" p:data-param="id"/>
				<label>Name<h:inputText value="#{saveEvent.name}" p:data-param="name" /></label>
				<label>Teaser<h:inputTextarea value="#{saveEvent.teaser}" p:data-param="teaser" /></label>
				<label>Beschreibung<h:inputTextarea value="#{saveEvent.description}" p:data-param="description" /></label>
				<label>Anfangsdatum (UTC)<h:inputText value="#{saveEvent.startDate}" p:type="datetime-local" p:data-param="startDate" /></label>
				<label>Enddatum (UTC)<h:inputText value="#{saveEvent.endDate}" p:type="datetime-local" p:data-param="endDate" /></label>
				<label>Anzahl Tickets<h:inputText value="#{saveEvent.capacity}" p:type="number" p:data-param="capacity" /></label>
				<h:commandButton action="#{saveEvent.save}" value="Veranstaltung erstellen" />
			</h:form>
		</li></core:if>

		<ui:repeat value="#{eventList.events}" var="event"><li id="event#{event.id}" data-id="#{event.id}" class="foldable folded">
			<dl class="time-info">
				<dt>Fängt an:</dt><dd data-field="startDate">#{event.startDate}</dd>
				<dt>Endet:</dt><dd data-field="endDate">#{event.endDate}</dd>
			</dl>
			<h2 data-field="name" class="event-name">#{event.name}</h2>
			<p data-field="teaser" class="teaser">#{event.teaser}</p>
			<h:form rendered="#{releaseEvent.isOrganizedByMe(event) and not event.released}" styleClass="editable-marker release-form">
				<h:commandButton action="#{releaseEvent.release(event)}" value="Event freigeben" />
			</h:form>
			<div class="fold"></div>
			<p data-field="description" class="description">#{event.description}</p>
			<p class="num-tickets"><span>#{event.capacity}</span> Tickets zur Reservierung<h:panelGroup rendered="#{event.released}">, #{reserveTicket.getAvailableTickets(event)} noch verfügbar</h:panelGroup></p>
			<h:panelGroup rendered="#{event.released}" styleClass="reserve-button"><a href="#reserve" data-action="reserveEvent">Tickets reservieren</a></h:panelGroup>
			<div class="reservations"><h:panelGroup rendered="#{event.released}">Reservierungen:<!--TODO: only if organizer or has tickets-->
				<ul><ui:repeat value="#{releaseEvent.getMyReservations(event)}" var="reservation">
					<li>#{reservation.amount} Tickets: Reservierungscode #{event.id}-#{reservation.key.id}</li>
				</ui:repeat></ul>
			</h:panelGroup></div>
		</li></ui:repeat>
	</ul>
	<h:panelGroup styleClass="modal" rendered="#{not sessionBean.loggedIn}"><div class="tabs"><div class="tab-header"><a href="#login" class="active">Einloggen</a><a href="#register">Registrieren</a></div>
		<div class="tab-body">
			<h:form id="login">
				<label>E-Mail<h:inputText value="#{login.email}" p:data-param="email" p:type="email" p:autocomplete="username" /></label>
				<label>Passwort<h:inputSecret value="#{login.password}" p:data-param="password" p:autocomplete="current-password" /></label>
				<h:commandButton action="#{login.login}" value="Login" />
			</h:form>
			<h:form id="register">
				<label>Name<h:inputText value="#{register.name}" binding="#{name}" p:autocomplete="name" p:required=""/></label>
				<label>E-Mail<h:inputText value="#{register.email}" binding="#{email}" p:type="email" p:autocomplete="username" p:required=""/></label>
				<label>Passwort<h:inputSecret value="#{register.password}" binding="#{password}" p:autocomplete="new-password" p:required="" p:id="register-password"/></label>
				<label>Passwort wiederholen<h:inputSecret value="#{register.passwordRepeat}" p:required="" p:id="repeat-password">
					<f:validator binding="#{registerValidator}" />
					<f:attribute name="name" value="#{name}"/>
					<f:attribute name="email" value="#{email}"/>
					<f:attribute name="password" value="#{password}"/>
				</h:inputSecret>
				</label>
				<label><h:selectBooleanCheckbox value="#{register.manager}" />Ich bin ein Veranstalter</label>
				<h:commandButton action="#{register.register}" value="Register" />
			</h:form>
		</div>
	</div></h:panelGroup>
	<div class="modal"><h:form id="reserve">
		<h:inputHidden value="#{reserveTicket.event}" binding="#{eventId}" p:id="reserve-event-id"/>
		<h:panelGroup rendered="#{sessionBean.loggedIn}">
			Sie sind momentan als #{sessionBean.currentUser.name} angemeldet.
			<button id="reserve-logout" type="button">Logout</button>
		</h:panelGroup>
		<h:panelGroup rendered="#{not sessionBean.loggedIn}">
			Sie sind derzeit nicht angemeldet.
			<div class="choice">
				<div>
					Anmelden und ihre reservierten Tickets unter „Meine Tickets” verfolgen können
					<label>E-Mail<input name="email" type="email" form="reserve-login" /></label>
					<label>Passwort<input name="password" type="password" form="reserve-login" /></label>
					<button type="submit" form="reserve-login">Login</button>
				</div>
				<div>ODER</div>
				<div>Unangemeldet reservieren
					<label>Name<h:inputText value="#{reserveTicket.name}" binding="#{notAuthenticatedUser}" p:id="reserve-name" p:required="" /></label>
				</div>
			</div>
		</h:panelGroup>
		<label>Anzahl Tickets<h:inputText value="#{reserveTicket.amount}" p:type="number">
			<f:validator binding="#{reserveValidator}" />
			<f:attribute name="eventId" value="#{eventId}"/>
			<f:attribute name="notAuthenticatedUser" value="#{notAuthenticatedUser}"/>
			</h:inputText>
		</label>
		<h:commandButton action="#{reserveTicket.reserve}" value="Reservieren"/>
	</h:form></div>
	<form id="reserve-login"></form>
	<script src="scripts/makexhr.js"></script>
	<script src="scripts/jsonml.js"></script>
	<script src="scripts/main.js"></script>
</h:body>
<h:body rendered="#{eventList.errorResponse}"><messages xmlns="http://java.sun.com/jsf/html"/></h:body>
</html>