.tabs {display:flex;flex-flow:column}
.tab-header {display:flex;text-align:center}
.tab-header > * {flex:1;background:#ccc;border-radius: .3em .3em 0 0;padding:.2em}
.tab-header > .active {background:#999;color:#fc0}
.tab-body > * {display:none}
.tab-body > .active {display:block}

.modal {background:rgba(0,0,0,.3);position:fixed;top:0;left:0;right:0;bottom:0;display:none}
.modal > * {position:absolute;top:10%;bottom:10%;left:10%;right:10%;background:white;border-radius:.3em .3em 0 0}
.modal.active {display:block}

.choice {display:flex;justify-content:space-between}

.foldable.folded .fold ~ * {display:none}

form > label {display:block}
.saving {background-color:yellow}/*animation: 2s pulse ease-in-out alternate infinite}
@keyframes pulse {
	from {background: white}
	50% {background: yellow}
	to {background: white}
}*/
.success {background: #9f9}
.error, .errors {background: #f99}

body {margin:0;padding:0}
header {display:flex; flex-flow: row wrap;justify-content:space-between;border-bottom:thin solid black;margin:0}

.event-list {list-style-type:none; width: 100%;margin:0;padding:0}
.event-list >:not(:first-child) {border-top: thin solid black;margin:0;padding:1em}
.time-info {float:right}
.fold {clear: both}
.button {appearance: button}
